############################
# Visual Studio
############################

.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

############################
# ASP.NET Core
############################

appsettings.Development.json
appsettings.Local.json

############################
# Rider / VSCode
############################

.vscode/
.idea/

############################
# NodeJS
############################

node_modules/
npm-debug.log*
yarn-error.log*

############################
# Python
############################

__pycache__/
*.pyc
*.pyo
*.pyd
.env

############################
# OS Files
############################

.DS_Store
Thumbs.db

############################
# Logs
############################

logs/
*.log

############################
# Environment Variables
############################

.env
.env.local

############################
# Uploads (important later)
############################

uploads/

############################
# Docker
############################

docker-data/